# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# created-by: conda 25.1.1
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
astropy=6.1.7=pypi_0
astropy-iers-data=0.2025.3.10.0.29.26=pypi_0
astroquery=0.4.9.post1=pypi_0
backports-tarfile=1.2.0=pypi_0
beautifulsoup4=4.13.3=pypi_0
bzip2=1.0.8=h5eee18b_6
ca-certificates=2025.2.25=h06a4308_0
certifi=2025.1.31=pypi_0
cffi=1.17.1=pypi_0
charset-normalizer=3.4.1=pypi_0
cryptography=44.0.2=pypi_0
html5lib=1.1=pypi_0
idna=3.10=pypi_0
importlib-metadata=8.6.1=pypi_0
ipython=8.34.0=pypi_0
jaraco-classes=3.4.0=pypi_0
jaraco-context=6.0.1=pypi_0
jaraco-functools=4.1.0=pypi_0
jeepney=0.9.0=pypi_0
keyring=25.6.0=pypi_0
ld_impl_linux-64=2.40=h12ee557_0
libffi=3.4.4=h6a678d5_1
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
libuuid=1.41.5=h5eee18b_0
matplotlib=3.10.1=pypi_0
more-itertools=10.6.0=pypi_0
ncurses=6.4=h6a678d5_0
numpy=1.26.4=pypi_0
openssl=3.0.16=h5eee18b_0
packaging=24.2=pypi_0
pandas=2.2.3=pypi_0
pexpect=4.9.0=pypi_0
photutils=2.0.2=pypi_0
pillow=11.1.0=pypi_0
pip=25.0=py310h06a4308_0
ptyprocess=0.7.0=pypi_0
pycparser=2.22=pypi_0
pyerfa=2.0.1.5=pypi_0
pygments=2.19.1=pypi_0
pyparsing=3.2.1=pypi_0
python=3.10.16=he870216_1
python-dateutil=2.9.0.post0=pypi_0
pytz=2025.1=pypi_0
pyvo=1.6.1=pypi_0
pyyaml=6.0.2=pypi_0
readline=8.2=h5eee18b_0
requests=2.32.3=pypi_0
scipy=1.15.2=pypi_0
secretstorage=3.3.3=pypi_0
setuptools=75.8.0=py310h06a4308_0
six=1.17.0=pypi_0
soupsieve=2.6=pypi_0
spiceypy=6.0.0=pypi_0
sqlite=3.45.3=h5eee18b_0
tk=8.6.14=h39e8969_0
typing-extensions=4.12.2=pypi_0
tzdata=2025.1=pypi_0
urllib3=2.3.0=pypi_0
webencodings=0.5.1=pypi_0
wheel=0.45.1=py310h06a4308_0
xz=5.6.4=h5eee18b_1
zipp=3.21.0=pypi_0
zlib=1.2.13=h5eee18b_1
